{erl_opts, [debug_info]}.

%% Add {d, 'LAGER_SYNC_NOTIFY'} to erl_opts for sync log events
%% notification or {d, 'LAGER_ASYNC_NOTIFY'} for async log events
%% notification. Add none of them and you will have a start-time option
%% via lager app env 'sync_dispatch_log'.

{erl_first_files, ["src/lager_util.erl"]}.

{cover_enabled, true}.
{edoc_opts, [{stylesheet_file, "./priv/edoc.css"}]}.
