{erl_opts, [debug_info, warn_untyped_record]}.
{erl_first_files, ["src/lager_util.erl"]}.
{deps, [
        {goldrush, "0\.1\.6",
            {git, "https://github.com/DeadZen/goldrush.git", {tag, "0.1.6"}}}
       ]}.

{xref_checks, []}.
{xref_queries, [{"(XC - UC) || (XU - X - B - lager_default_tracer : Mod)", []}]}.

{cover_enabled, true}.
{edoc_opts, [{stylesheet_file, "./priv/edoc.css"}]}.
